*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/rails_app/tmp
spec/rails_app/db
spec/rails_app/log
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.byebug_history