<h1>Step 3</h1>
<% if Rails.version >= "4.0.0" %>
  <%= button_to "Save & Next", onboard_step_path(step: 4), method: :patch %>
<% else %>
  <%= button_to "Save & Next", onboard_step_path(step: 5), method: :delete %>
<% end %>