<% if breadcrumb_trail.any? %>
<ul id='breadcrumbs'>
  <% breadcrumb_trail do |crumb| %>
    <li class="<%= crumb.current? ? 'selected' : '' %>">
      <%= link_to crumb.name, crumb.url %>
      <% unless crumb.current? %>
        <span>::</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>
