<% if breadcrumb_trail.any? %>
<ul id='breadcrumbs'>
  <% breadcrumb_trail do |name, url, current| %>
    <li class="<%= current ? 'selected' : '' %>">
      <%= link_to name, url %>
      <% unless current %>
        <span>::</span>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>
